<div class="card profile-view">
    <div class="pv-header">
        <img src="http://gastonnina.com/images/gastonnina_real.jpg" class="pv-main" alt="">
    </div>

    <div class="pv-body">
        <h2><%= author %></h2>
        <small>Boliviano, emprendedor y participante de cursos de MiriadaX </small>
        <small>Acerca el template no me atribuyo autoria. Ya que el diseño no se me da bien busque alguno y lo adapte al proyecto del curso.</small>

        <ul class="pv-contact">
            <li><i class="md md-room"></i> La Paz, Bolivia</li>
            <li><a href="https://github.com/gastonnina" title="Estoy en github"><i class="socicon socicon-github"></i> Cuenta github</a></li>
        </ul>
        <a href="https://twitter.com/gastonnina" class="pv-follow-btn">Follow me</a>
    </div>
</div>