<div class="card">
    <div class="card-header">
        <h2>Añadir pregunta <small>procure sea una pregunta especifica.</small></h2>
    </div>

    <div class="card-body card-padding">
        <form role="form" method="post" action="/quizes/create" >      
        <% include _form.ejs %>
        </form>
    </div>
</div>