<div class="card">
    <div class="card-header bgm-blue">
        <h2><%= quiz.pregunta %></h2>
    </div>

    <div class="card-body card-padding">
        <form role="form" method="get" action="/quizes/<%= quiz.id %>/answer">        
          <div class="form-group fg-line">
            <label for="preg">Respuesta</label>
            <input type="text" class="form-control input-sm" id="preg" placeholder="Pregunta" name="respuesta" value="" placeholder="Responda aquí">
        </div>
          <button type="submit" class="btn btn-primary btn-sm m-t-10">Enviar</button>
        </form>
    </div>
</div>
<div class="card">
    <div class="card-header ch-alt m-b-20">
        <h2>Comentarios <small>Todos los comentarios sobre la pregunta</small></h2>
        <a title="Nuevo Comentario" href="/quizes/<%= quiz.id %>/comments/new" class="btn bgm-cyan btn-float"><i class="md md-add"></i></a>
    </div>

    <div class="card-body">
        <div class="listview">
            <%for(index in quiz.Comments){%>
            <a class="lv-item" href="">
                <div class="media">
                    <div class="pull-left">
                        <img class="lv-img-sm" src="/img/profile-pics/4.jpg" alt="">
                    </div>
                    <div class="media-body">
                        <div class="lv-title">Bill Phillips</div>
                        <small class="lv-small"><%=quiz.Comments[index].texto%></small>
                    </div>
                </div>
            </a>
            <%}%>            
      <!--      <a class="lv-footer" href="">View All</a>-->
        </div>
    </div>
</div>