
        <div class="lc-block toggled" id="l-login">
    <form method='POST' action='/login'>
            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="md md-person"></i></span>
                <div class="fg-line">
                    <input type="text" class="form-control" id="login" name="login" placeholder="Username">
                </div>
            </div>

            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="md md-accessibility"></i></span>
                <div class="fg-line">
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password">
                </div>
            </div>


            <button class="btn btn-login btn-danger btn-float" name="commit" type="submit"><i class="md md-arrow-forward"></i></button>
</form>    
    </div>
    